* {
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin: 0;
  margin-bottom: .5em;
}
.bold {
  font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}

body {
  font-family: system-ui;
  max-width: 1000px;
  margin: 0 auto;
}

main {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 750px;
  background-color: #f6f6ff;
  padding: 1em;
  border-radius: .7em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}


.container {
  display: flex;
  flex-direction: column;
}


#age-input {
  width: 10em;
}

.marital-container {
  display: flex;
  gap: .5em;
}

.wrapper-2 {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 1em;
}

.hobbies-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.hobbies-inputs-container {
  display: grid;
  grid-template-columns: repeat(3, 7em);
}

button {
  padding: .3em;
  border-radius: .3em;
  border: solid 1px ;
  transition: all 300ms;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  transition: none;
  background-color: #005cc8;
  color: #fff;
}